<% candidates.forEach((candidate, index) => { %>
  <section class="donate-block" id="donate_<%= slugify(candidate.last_name) %>">
    <% payments.forEach((payment) => { %>
      <div class="d-none donate-block container mt-4" id="donate_<%= slugify(candidate.last_name) %>_<%= payment.id %>">
        <% payments.forEach((pmnt) => { %>
          <a href="#donate_<%= slugify(candidate.last_name) %>_<%= pmnt.id %>">
            <%= pmnt.name %>
          </a>
        <% }) %>
        <%- include("guides/"+payment.id, {candidate: candidate}) -%>
      </div>
    <% }) %>
  </section>
<% }) %>
