<section>
  <div class="container mb-5" id="volunteer" role="main">
    <div class="alert alert-success d-none" role="alert">
      Спасибо, вы присоединились к созданию новой политики!
    </div>
    <form class="col-lg-9 mb-5" id="volunteer-form" action="<%= env.API_URL %>/volunteer" method="POST">
      <input type="text" name="__">
      <fieldset>
        <legend>Анкета участника кампании</legend>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Имя</label>
            <input type="text" class="form-control" name="first_name" id="inputName" placeholder="Имя">
          </div>
          <div class="form-group col-md-6">
            <label for="inputSName">Фамилия</label>
            <input type="text" class="form-control" name="last_name" id="inputSName" placeholder="Фамилия">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Телефон</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">+7</span>
              </div>
              <input type="tel" class="form-control" name="phone">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-2">
            <label for="inputAge">Возраст</label>
            <input type="text" class="form-control" name="age" id="inputAge">
          </div>
        </div>
        <br>
        <p>
          <label class="mr-sm-2">Какому кандидату хотите помочь?</label>
          <% candidates.forEach((candidate, index) => { %>
            <div class="form-check form-check-inline">
              <input class="form-check-input cursor-pointer" id="candidate-<%= index %>" type="checkbox" name="candidates[]" value="<%= candidate.name %>">
              <label class="form-check-label cursor-pointer" for="candidate-<%= index %>"><%= candidate.name %></label>
            </div>
          <% }) %>
        </p>


        <br>
        <div class="form-row">
          <label class="mr-sm-2">Страницы в соцсетях</label>
        </div>

        <div class="form-row ">
          <div class="form-group col-md-6 form-inline">
            <label class="mr-2" for="inputFb">
              <img class="socialicon" src="/img/fbicon.png" alt="FB">
            </label>
            <input type="text" class="form-control flex-grow-1" name="social_networks[fb]" id="inputFb">
          </div>
          <div class="form-group col-md-6 form-inline">
            <label class="mr-2" for="inputVk">
              <img class="socialicon" src="/img/vk.png" alt="VK">
            </label>
            <input type="text" class="form-control flex-grow-1" name="social_networks[vk]" id="inputVk">
          </div>
        </div>

        <p>
          <label class="cursor-pointer">
            <input type="checkbox" value="true" name="agree_processing" required>
            Согласие на обработку персональных данных
          </label>
        </p>

        <p>
          <button type="submit" class="btn btn-primary mb-2">Присоединиться к кампании</button>
        </p>
      </fieldset>
    </form>
  </div>
</section>
