<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Независимые кандидаты - ГорДума 2019</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,500i,800,800i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scada:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="d-none navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Независимые кандидаты</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Волонтерам</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Сбор средств</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead clearfix text-right text-black">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0 text-white bg-danger"> <%= blocks[0] %></h1>
        <h2 class="masthead-subheading mb-0 text-white bg-success"></h2>
        <a href="#" class="d-none btn btn-primary btn-xl rounded-pill mt-5">Помочь кампании финансово</a>
      </div>
    </div>
    <div class="bg-circle-4 bg-circle"></div>
    <div class="masthead-text">
      <div class="container">
        <div class="row text-left">
          <div class="col-lg-8 col-10">
          <h4 class="text-white text-left"><%= blocks[1] %></h4>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container mt-4">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="p-1">
            <h4>Что это и зачем оно нужно?</h4>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="p-1">
            <p><%- md.render(blocks[2]) %></p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% candidates.forEach(function(candidate) { %>
    <section class="candidate">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 order-lg-2">
            <div class="p-3">
              <img class="img-fluid rounded" src="<%= candidate.img_url %>" alt="">
            </div>
          </div>
          <div class="col-lg-7 order-lg-1">
            <div class="p-3">
              <h2 class="display-4"><%= candidate.name %></h2>
              <p><%- md.render(candidate.desc) %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% }) %>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <div class="p-3">
            <h4>Чем я могу помочь?</h4>
            <p><%- md.render(blocks[3]) %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container" role="main">
      <%- include('form', {candidates: candidates}); %>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
